﻿@model InetShopApp.Models.ProductsCategoryVM

@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions()
    {
        UpdateTargetId = "productCategoryData",
        Url = Url.Action("ProductCategorySearh"),

    };
}

<h2>Products</h2>

@using (Ajax.BeginForm(options))
{
    <div class="form-inline">
        <label class="control-label">Category: </label>
        @Html.DropDownList("SelectedCategory", Model.Categories,
                 htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
}
    <div id="productCategoryData">
        @Html.Partial("ProductCategorySearh",Model)
    </div>
