﻿@model InetShopApp.Models.ProductsCategoryVM

<table class="table">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Discription</th>
        <th>Price</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @using (Html.BeginForm("AddToCart", "Cart", new { ProductId = item.ProductId }))
                {
                    <input type="submit" value="+ Add to cart" class="btn btn-success" />
                }

            </td>
        </tr>
    }

</table>

