﻿@*@model IEnumerable<InetShopApp.Models.Product>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div id="tabledata">
        @Html.Partial("ProductPlView")
    </div>

    @section scripts
    {
        <script type="text/javascript">
            $(function () {
                $.ajaxSetup({ cache: false });
               $(".compItem").click(function (e) {

                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
        </script>
    }*@


@*Таблица для AJAX*@
<div id="tableBlock" ></div> 
<button id="addBookFormOpen" class="btn btn-default">Add Product</button>

<div id="editBlock">
    <p><b>Edit Product</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label class = "control-label col-md-2">Name: </label></td><td><input type="text" id="editName" class = "form-control"  /></td></tr>
        <tr><td><label class = "control-label col-md-2">Description: </label></td><td><input type="text" id="editDesc" class = "form-control" /></td></tr>
        <tr><td><label class = "control-label col-md-2">Category: </label></td><td><input type="text" id="editCategory" class = "form-control" /></td></tr>
        <tr><td><label class = "control-label col-md-2">Price: </label></td><td><input type="number" id="editPrice" class = "form-control" /></td></tr>
    </table>
    <button id="editBook" class="btn btn-default">Сохранить</button>
</div>
<div id="createBlock">
    <p><b>Add product</b></p>
    <table>
        <tr><td><label class="control-label col-md-2">Name: </label></td><td><input type="text" id="addName" class="form-control" /></td></tr>
        <tr><td><label class="control-label col-md-2">Description: </label></td><td><input type="text" id="addDescription" class="form-control" /></td></tr>
        <tr><td><label class="control-label col-md-2">Category: </label></td><td><input type="text" id="addCategory" class="form-control" /></td></tr>
        <tr><td><label class="control-label col-md-2">Price: </label></td><td><input type="number" id="addPrice" class="form-control" /></td></tr>
    </table>
    <button id="addBook" class="btn btn-default">Сохранить</button>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            GetAllBooks();

            $("#editBook").click(function (event) {
                event.preventDefault();
                EditProduct();    
            });

            $("#addBook").click(function (event) {
                event.preventDefault();
                AddBook();
               
            });
            $("#addBookFormOpen").click(function () {

                $("#createBlock").slideToggle(1000)
            }

            );



        });
        // Получение всех книг по ajax-запросу
        function GetAllBooks() {

            $("#createBlock").css('display', 'none');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: 'http://localhost:51329/api/WebAPIAdminProducts',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // Добавление новой книги
        function AddBook() {
            // получаем значения для добавляемой книги
            var product = {
                Name: $('#addName').val(),
                Description: $('#addDescription').val(),
                Category: $('#addCategory').val(),
                Price: $('#addPrice').val()
            };

            $.ajax({
                url: 'http://localhost:51329/api/WebAPIAdminProducts/',
                type: 'POST',
                data: JSON.stringify(product),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();

                },
                error: function (x) {
                    alert(x.responseJSON.Message);
                }
            });
        }
        // Удаление книги
        function DeleteProduct(id) {

            $.ajax({
                url: 'http://localhost:51329/api/WebAPIAdminProducts/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // редактирование книги
        function EditProduct() {
            var id = $('#editId').val()
            // получаем новые значения для редактируемой книги
            var product = {
                ProductId: $('#editId').val(),
                Name: $('#editName').val(),
                Description: $('#editDesc').val(),
                Category: $('#editCategory').val(),
                Price: $('#editPrice').val()
            };
            $.ajax({
                url: 'http://localhost:51329/api/WebAPIAdminProducts/' + id,
                type: 'PUT',
                data: JSON.stringify(product),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        // вывод полученных данных на экран
        function WriteResponse(books) {
            var strResult = "<table class=\"table\"><th>ID</th><th>Name</th><th>Description</th><th>Category</th><th>Price</th>";
            $.each(books, function (index, book) {
                strResult += "<tr><td>" + book.ProductId + "</td><td> " + book.Name + "</td><td>" +
                    book.Description + "</td><td>" + book.Category + "</td><td>" + book.Price +
                    "</td><td><a id='editItem' data-item='" + book.ProductId + "' onclick='EditItem(this);' >Редактировать</a></td>" +
                    "<td><a id='delItem' data-item='" + book.ProductId + "' onclick='DeleteItem(this);' >Удалить</a></td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").hide().html(strResult).slideDown(1000);

        }
        // обработчик удаления
        function DeleteItem(el) {
            // получаем id удаляемого объекта
            var id = $(el).attr('data-item');
            DeleteProduct(id);
        }
        // обработчик редактирования
        function EditItem(el) {
            // получаем id редактируемого объекта
            var id = $(el).attr('data-item');
            GetProduct(id);
        }
        // вывод данных редактируемой книги в поля для редактирования
        function ShowProduct(book) {
            if (book != null) {
                $("#createBlock").css('display', 'none');
                $("#editBlock").slideDown(1000)
                $("#editId").val(book.ProductId);
                $("#editName").val(book.Name);
                $("#editDesc").val(book.Description);
                $("#editCategory").val(book.Category);
                $("#editPrice").val(book.Price);
            }
            else {
                alert("Такая книга не существует");
            }
        }
        // запрос книги на редактирование
        function GetProduct(id) {
            $.ajax({
                url: 'http://localhost:51329/api/WebAPIAdminProducts/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowProduct(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}





