﻿@model InetShopApp.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<h1>Total Sum: @Model.Cart.ComputeTotalValue()</h1>
<table class="table">
    <tr>
        <th>
            @Html.Label("Quantity")
        </th>
        <th>
            @Html.Label("Item")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th>
            @Html.Label("Total Sum")
        </th>
    </tr>
    @foreach (var line in Model.Cart.Lines)
    {
    <tr>
        <td>@line.Quantity</td>
        <td>@line.Product.Name</td>
        <td>@line.Product.Price</td>
        <td>@((line.Quantity * line.Product.Price))</td>
        <td>
            @using (Html.BeginForm("RemoveFromCart", "Cart", new { ProductId = line.Product.ProductId }))
            {
                @*@Html.HiddenFor(modelItem=>item.ProductId);
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)*@
                <input type="submit" value="- Remove from cart" class="btn btn-danger" />
            }
            </td>

    </tr>
    }

</table>
<p align="right" class="actionButtons">
    @Html.ActionLink("Continue shopping", "Index", "UserProducts","", new { @class = "btn btn-primary" })
    @Html.ActionLink("Checkout", "Checkout", "Cart","", new { @class = "btn btn-success" })
</p>


