﻿@model InetShopApp.Models.Order

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.User.Id, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("User_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User.Id, "", new { @class = "text-danger" })
            </div>
        </div>



        <div id="block-1">
            <div class="block-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.Products, "Product", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Products, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*для добавления продуктов используется js: scripts->новый js документ(customScript.js)*@
                <input class="btn btn-primary" type="button" value="Add another product" onclick="test()">
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, "Order date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function test() {
        var parent = document.getElementById('block-1');//привязка к div c id=block1
        var elem = parent.querySelector('.block-2'); //привязка к div c class="block-2"

        var clone = elem.cloneNode(true); //клонируется код div c class="block-2"
        parent.appendChild(clone); // вставляется в div c id=block1
    }
</script>

