﻿@model InetShopApp.Models.Order
@{
    ViewBag.Title = "Edit";
    
}

<h2>Edit order</h2>

@using (Html.BeginForm())
{
<fieldset>
    @Html.HiddenFor(model => model.OrderId)

    <p>
        Имя <br />
        @Html.DropDownList("Users",null,htmlAttributes: new { @class = "form-control" })

    </p>
    <p>
        Продукт <br />
        @foreach (var product in Model.Products)
        {
            @Html.DropDownListFor(model => model.Products, ViewBag.Teams as SelectList, htmlAttributes: new { @class = "form-control" }) <br/>
        }

    </p>
    <p>
        Дата заказа <br />
        @Html.EditorFor(model => model.OrderDate,new { htmlAttributes = new { @class = "form-control" } })
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</fieldset>
}
<div>
    @Html.ActionLink("Back to list", "Index")
</div>
